.chat-side
  .chat-side__header
    .chat-side__header--box
      %p.chat-side__header--box--name
        = current_user.name
      .chat-side__header--box--logo
        .chat-side__header--box--logo--left
          = link_to new_group_path do
            %i.fas.fa-edit

        .chat-side__header--box--logo--right
          = link_to edit_user_path(current_user) do
            .i.fas.fa-cog
            
  .chat-side__groups
    .chat-side__groups--group
      - current_user.groups.each do |group|
        .chat-side__groups--group--left
          -# = link_to '#', class:"box" do
          = link_to group_messages_path(group), class:"box" do

            .box--name
              = group.name
            .box--message
              = group.show_last_message
    -# .chat-side__groups
    -#   .chat-side__groups--group
    -#     .chat-side__groups--group--left
    -#       .chat-side__groups--group--name
    -#         group
    -#       .chat-side__groups--group--message
    -#         まだメッセージはありません





  
